/* form add produto */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inserirProduto, #editarProduto {
    display: flex;
    flex-direction: column;
    width:40vw;
    background-color: rgb(124, 207, 210);
    padding:20px;
    gap:3vh;
    margin-top:2vw;
}

#inserirProduto input, #editarProduto input {
    height: 5vh;
    border-radius: 10px;
    border:none;
    padding:5px;
}

#inserirProduto button, #editarProduto button {
    height:7vh;
    border-radius: 50px;
    margin-top:3vh;
    border:none;
    padding:5px;
    background-color: cadetblue;
    color:white;
}

#inserirProduto button:hover, #editarProduto button:hover {
    background-color: rgb(66, 111, 113);
}




/* todos os itens em grade */
#catalogo {
    display:grid;
    grid-template-columns: 22.5vw 22.5vw 22.5vw 22.5vw;
    gap:2vw;
    margin:2vw;
}

/* itens em si e seus elementos */
.item {
    display:grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-areas: "imagem imagem imagem" 
                        "nome nome nome" 
                        "descricao descricao descricao"
                        "preco favorito carrinho"
                        "editar editar editar" ;
}

.item img {
    grid-area: imagem;
    width:100%;
    height:auto;
}
.nome {
    grid-area: nome;
    font-size:20px;
    font-weight: bold;
}
.descricao {
    grid-area: descricao;
}
.preco {
    grid-area: preco;
    font-size: 18px;
    font-weight:bold;
}
.carrinho {
    grid-area: carrinho;
    font-size: 18px
}
.favorito {
    grid-area: favorito;
    font-size:18px
}

.editarProduto {
    grid-area: editar;
    background-color: cadetblue;
    padding:7px;
    border-radius: 50px;
    border:none;
    color:black;
    height:40px;
    text-align: center;
}