* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:10vh;
    padding: 20px;
    background-color: cadetblue;
}

header a img {
    width: 8vh;
    height:8vh;
}

.navBar {
    display: flex;
    justify-content: space-between;
    width: 10vw;
}

.navBar a {
    color: white;
    text-decoration: none;
}