h1 {
    font-size: 45px;
    text-align: center;
    margin:20px;
}

body p {
    text-align: center;
    font-size:20px;
    margin-bottom:5vh;
}

main {
    display: flex;
    justify-content: space-evenly;
}

main p {
    font-size:25px;
    margin-top: 80px;
    width:45vw;
}



.navBar {
    display: flex;
    align-items: center;
    gap:10px;
    width:25vw;
}

#login {
    background-color: white;
    padding:7px;
    border-radius: 50px;
    color:black;
    width:100%;
    text-align: center;
}